node_modules
package-lock.json
compose-dev.yaml
old
docker-compose-firefly.yml
1-generate-validators-nodes-keys.ps1
node_modules
cache
artifacts
typechain-types
data_
base
global
data/blocks/*
datastore
services-init-config/local-dev/blockscout/docker-compose/services/blockscout-db-data
services-init-config/local-dev/blockscout/docker-compose/services/stats-db-data
services-init-config/local-dev/dataexchange/blobs
services-init-config/local-dev/dataexchange/peers
services-init-config/local-dev/ipfs/data/blocks
services-init-config/local-dev/evmconnect/data/leveldb