services-init-config/blockscout/docker-compose/services/blockscout-db-data
services-init-config/blockscout/docker-compose/services/stats-db-data
services-init-config/blockscout/docker-compose/services/redis-data
services-init-config/blockscout/docker-compose/services/logs
services-init-config/dataexchange/blobs
services-init-config/dataexchange/peers
services-init-config/dataexchange/peer-certs
services-init-config/dataexchange/destinations
services-init-config/evmconnect/data
services-init-config/ipfs/data
services-init-config/ipfs/staging
node_modules
package-lock.json
cache
artifacts
typechain-types
*.log
*.bak
*.cache
LOG
